

.dancing-icon{
    position: absolute;
    right: 20%;
color: red;
top: 0%;
display: none;
}

.hearts{
    font-size: 1vw;
    position: absolute;
    top: 18vw;
    left: 0;
    z-index: 1;
    animation: 2s ease-in-out hearts normal 2 forwards;
}
.heartsToggle{
  display: block;
}
.hearts:nth-child(1){
    left: 12px;
    animation-duration: 1.25s;
}
.hearts:nth-child(2){
    left: 32px;
    animation-duration: 0.75s;
    font-size: 2vw;
}
.hearts:nth-child(3){
    left: 52px;
    animation-duration: 1.75s;
}
.hearts:nth-child(4){
    left: 52px;
    animation-duration: 2s;
}

@keyframes hearts {
    0%{
        transform: rotate(20deg);
        opacity: 0;
    }
    50%{
        transform: rotate(-20deg);
        opacity: 1;
    }
    100%{
        transform: rotate(20deg);
        opacity: 0;
        top: 2%;
    }
}

