@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Thasadith&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&family=IBM+Plex+Sans:wght@500;700&family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {

  overflow: hidden;
  position: relative;
}

.container {
  margin-top: 20px;
}



input[type="checkbox"] {
  margin-left: 10px;
}

body,
html {
    height: 100% ;
   background-color: #ffffff;
}

.form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
  color: darkviolet;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 12px;
  border-radius: 320px;
  padding: 12px;
  background-color: #ebecf0;
 /* text-shadow: 1px 1px 0 #fff; */
}

.containerSeller{
  height: 100%;
  background: #ebecf0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sellingForm button,
.sellingForm input {
  width:100%;
  padding: 16px 25px;
  font-size: 16px;
  
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.btnSubmit{
  margin-top: 100px;
  color: darkviolet;
}

input {
  width: 50px;
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus ~ .btnSeatch {
  background-color: rgb(74, 164, 255);
  color: #fff;
  text-shadow: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}
.card {
  margin-left: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

[type="file"] {
  display: none;
}

[type="file"] + label {
  width: 500px;
  color: darkviolet;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 20px;
}

[type="file"] + label:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
[type="file"] + label:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.photosReview {
  position: relative;
  margin-top: 50px;
  display: flex;
}
.photosReview div {
  position: relative;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.photosReview img {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 100%;
}

.deletebtn {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1px;
  height: 1px;
  position: absolute;
  margin: 10px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.69);
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.containerI {
  font-family: "Courier Prime", monospace;
  position: relative;
  width: 80vmin;
  height: 80vmin;
  max-height: 600px;
  max-width: 600px;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgb(248, 247, 247);
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

#app {
  position: relative;
}

.image,
.tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image svg,
.tabs svg {
  width: 100%;
}

image {
  pointer-events: none;
}

.border {
  fill: rgb(170, 170, 170);
  fill-opacity: 0;
  stroke: rgb(205, 205, 205);
  stroke-width: 2;
  stroke-opacity: 0.7;
  cursor: pointer;
}

.border:hover {
  stroke-opacity: 1;
}

text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.286);
  fill: rgb(200, 199, 199);
  font-size: 28px;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
  stroke-opacity: 0.75;
}

.tabs {
  z-index: 100;
}

.button {
  z-index: 101;
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translatex(50%) translatey(-50%);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
.button:hover {
  transform: translatex(52%) translatey(-48%);
}

.col button {
  margin-left: 10px;
}

.cardS {
  justify-content: space-between;
  display: flex;
}

.cardS p {
  width: 50%;
}
.containerS {
  margin-top: 100px;
}

.cardV img {
  border-radius: 20px;
}

h6 {
  font-family: "Righteous", cursive;
  font-weight: 900;
}

.card-body span {
  font-family: "Thasadith", sans-serif;
  color: red;
}
.form-inline {
  transition: 0.3s linear;
  width: 700px;
  display: flex;
  position: relative;
  padding: 0;
}

.btnSeatch {
  width: 100px;
  margin-left: 10px;
}
.navbar-toggler {
  border-radius: 20px;
  padding: 7px 30px;
  transition: 2s linear;
}
.userLink {
  color: rgb(31, 110, 255);
}

.fadown {
  transform: rotate(180deg);
  transition: 0.3s linear;
}
.faup {
  transform: rotate(0deg);
  transition: 0.3s linear;
}

@media only screen and (max-width: 1400px) {
  .form-inline {
    width: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .form-inline {
    width: 900px;
  }
}

.carousel-caption h3 {
  font-size: 3em;
}
.carousel-caption p {
  line-height: 15px;
  font-size: 1.3em;
}
.carousel-caption span {
  color: #aaa;
}
.carousel-caption:nth-child(1) {
  position: absolute;
  top: 10%;
}
.carousel-caption:last-child {
  position: absolute;
  left: -50%;
  top: 35%;
}

.card {
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
}

.slideCard {
  margin: 0px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.slideCard button {
  z-index: 10;
  width: 60px;
  height: 60px;
  background-color: #aaa;
}

/* dashBourd */
.seactionLine {
  margin-left: 10px;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}

.cardViwersBord {
  position: relative;
  padding: 2.5vw;
}

.textCard {
  position: relative;
  width: 50vw;
  height: 25vw;
  overflow: hidden;
}

.textCard img {
  position: absolute;
  width: 36vw;
  height: 25vw;
  border-radius: 30px;
}

.titleCard {
  width: 7vw;
  height: 22vw;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  top: 8%;
  font-size: 0.6vw;
  transition: all 0.7s linear;
}
.titleCard div {
  overflow: hidden;
  max-height: 20vw;
  margin-bottom: 10px;
}
.titleCard div h3 {
  overflow: hidden;
  max-height: 20vw;
  margin-bottom: 10px;
}

.imgCardIndex0,
.imgCardIndex1,
.imgCardIndex3 {
  box-shadow: 50px 0px 63px -60px #494848;
}

.imgCardIndex2,
.imgCardIndex5,
.imgCardIndex4 {
  box-shadow: -70px 0px 63px -60px #494848;
  right: 8%;
}
.imgShadowCard {
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: absolute;
  width: 38%;
  height: 45%;
  top: 30%;
  filter: blur(55px);
}

.imgShadowCard0,
.imgShadowCard1,
.imgShadowCard3 {
  right: 5vw;
}
.imgShadowCard2,
.imgShadowCard4,
.imgShadowCard5 {
  left: 5vw;
}

.titleCard0,
.titleCard1,
.titleCard3 {
  right: 8%;
}

.titleCard2,
.titleCard4,
.titleCard5 {
  left: 0%;
}

.titleCardS {
  font-family: "Paytone One", sans-serif;
  position: absolute;
  top: 43%;
  overflow: hidden;
  height: 4vw;
  width: 23vw;
  font-size: 3.5vw;
  transform: rotate(270deg);
  text-transform: uppercase;
}

.titleCardS0,
.titleCardS1,
.titleCardS3 {
  animation: textSR 0.7s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1%;
}

.titleCardS2,
.titleCardS4,
.titleCardS5 {
  animation: textSL 0.7s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0%;
}

.col-sm-6:hover .titleCardS0,
.col-sm-6:hover .titleCardS1,
.col-sm-6:hover .titleCardS3 {
  z-index: 100;
  right: 6%;
  color: #fff;
  animation: textR 0.7s linear;
}

@keyframes textR {
  0% {
    right: 1%;
    color: #000;
  }
  30% {
    right: -1%;
    z-index: 0;
  }
  70% {
    right: 6%;
  }
  100% {
    z-index: 100;
    color: #fff;
  }
}

@keyframes textSR {
  0% {
    right: 7%;
    z-index: 100;
    color: #fff;
  }
  30% {
    right: -1%;
    z-index: 0;
  }
  70% {
    right: 1%;
    text-shadow: none;
  }
  100% {
    color: #000;
  }
}

.col-sm-6:hover .titleCard0,
.col-sm-6:hover .titleCard1,
.col-sm-6:hover .titleCard3 {
  right: 6vw;
  transition: all 0.5s linear;
}

.col-sm-6:hover .titleCard2,
.col-sm-6:hover .titleCard4,
.col-sm-6:hover .titleCard5 {
  left: 2vw;
  transition: all 0.5s linear;
}

.col-sm-6:hover .titleCardS2,
.col-sm-6:hover .titleCardS4,
.col-sm-6:hover .titleCardS5 {
  z-index: 100;
  left: 6%;
  color: #fff;
  animation: textL 0.7s linear;
}

@keyframes textL {
  0% {
    left: 0%;
    color: #000;
  }
  20% {
    left: -1%;
    z-index: 0;
  }
  70% {
    left: 6%;
  }
  100% {
    z-index: 100;
    color: #fff;
  }
}

@keyframes textSL {
  0% {
    left: 6%;
    z-index: 100;
    color: #fff;
  }
  70% {
    left: -1%;
    z-index: 0;
  }
  90% {
    left: 0%;
    text-shadow: none;
  }
  100% {
    color: #000;
  }
}

/* ********** */

.textCardS {
  position: relative;
  color: #fff;
}
.textCardS p {
  font-size: 0.8em;
  color: #aaa;
}

/* Wide Card viewer Home screen */
.textCardViwers h1 {
  font-size: 3vw;
}

.textCardViwers {
  text-align: center;
  position: absolute;
  top: 10%;
  color: #fff;
}
.wideCardViwer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 0;
}
  .slideHeader {
  text-align: center;
  position: absolute;
  left: 43%;
  top: 15%;
}
.slideHeader p {
  font-size: 1.5em;
}
.slideHeader h3 {
  font-size: 5em;
}

.slideHeader1 {
  text-align: left;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 5%;
  color: #00a811;
}
.slideHeader2 {
  text-align: left;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 5%;
  color: #00a811;
}

.colBox {
  font-family: "Rubik", sans-serif;
  line-height: 10px;
  font-size: 30px;
  color: #ebecf0;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 7%;
  left: 5%;
}
.colBox h3 {
  color: #8a8b8b;
  font-size: 50px;
}

/* footer */
.col_white_amrc {
  color: #fff;
}
footer {

 position: relative;
 top: 0%;
transform: translate(0%, 0%);
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.bottom_border{
  flex-shrink: 0;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* animati */
#page-wrap {
  position: relative;
  display: block;
  clear: both;
  background: none;
  color: #000;
  text-decoration: none;
  padding: 3rem 0;
  width: 100%;
  height: 100%;
}

#inner-wrap {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 3rem;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 322px;
  overflow: visible;
}

.logo {
  animation: linear;
  position: absolute;
  z-index: 1;
  top: 3rem;
  left: 2rem;
  display: block;
  width: 9vmax;
  height: 9vmax;
  min-width: 50px;
  min-height: 50px;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  min-width: 100%;
  min-height: 70%;
  margin: auto 0;
}

.text {
  position: absolute;
  top: 55%;
  left: -40%;
  right: 0;
  bottom: 0;
  display: block;
  width: 83%;
  height: 100%;
  margin: auto;
}

img,
svg {
  display: block;
  overflow: visible;
  pointer-events: none;
}

.group:before,
.group:after {
  content: "";
  display: table;
  clear: both;
}
.group {
  zoom: 1;
}

.credits {
  position: relative;
  z-index: 9;
  font-size: 130%;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}

.credits a {
  display: inline-block;
  color: #df1888;
  font-family: Arial, sans-serif;
  line-height: 1.5em;
  text-decoration: none !important;
  white-space: nowrap;
  margin: 0 1.2em;
  padding: 0.6em 0;
  transition: 150ms;
}

.credits a:hover {
  color: #2d71b9;
  cursor: pointer;
}

.credits-logo {
  fill: currentColor;
  display: inline-block;
  vertical-align: bottom;
  width: 1.6em;
  height: 1.6em;
  margin: 0 0.5em 0 0;
}

.waves > path {
  -webkit-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -moz-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -ms-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -o-animation: a 17390ms ease-in-out infinite alternate-reverse both;
  animation: a 17390ms ease-in-out infinite alternate-reverse both;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -moz-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -ms-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -o-animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  animation-timing-function: cubic-bezier(0.25, 0, 0.75, 1);
  -webkit-will-change: transform;
  -moz-will-change: transform;
  -ms-will-change: transform;
  -o-will-change: transform;
  will-change: transform;
}

.waves > path:nth-of-type(1) {
  -webkit-animation-duration: 20580ms;
  -moz-animation-duration: 20580ms;
  -ms-animation-duration: 20580ms;
  -o-animation-duration: 20580ms;
  animation-duration: 20580ms;
}

.waves > path:nth-of-type(2) {
  -webkit-animation-delay: -2690ms;
  -moz-animation-delay: -2690ms;
  -ms-animation-delay: -2690ms;
  -o-animation-delay: -2690ms;
  animation-delay: -2690ms;
  -webkit-animation-duration: 13580ms;
  -moz-animation-duration: 13580ms;
  -ms-animation-duration: 13580ms;
  -o-animation-duration: 13580ms;
  animation-duration: 13580ms;
}

g > path:nth-of-type(1) {
  -webkit-animation-delay: -820ms;
  -moz-animation-delay: -820ms;
  -ms-animation-delay: -820ms;
  -o-animation-delay: -820ms;
  animation-delay: -820ms;
  -webkit-animation-duration: 10730ms;
  -moz-animation-duration: 10730ms;
  -ms-animation-duration: 10730ms;
  -o-animation-duration: 10730ms;
  animation-duration: 10730ms;
}

.waves > path:nth-of-type(1),
g > path:nth-of-type(2) {
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-moz-keyframes a {
  0% {
    -moz-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-ms-keyframes a {
  0% {
    -ms-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-o-keyframes a {
  0% {
    -o-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes a {
  0% {
    -webkit-transform: translateX(-750px);
    -moz-transform: translateX(-750px);
    -ms-transform: translateX(-750px);
    -o-transform: translateX(-750px);
    transform: translateX(-750px);
  }

  100% {
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

/* slider */
.slider-wrapper {
  position: relative;
  margin: 50px;
  height: 30vh;
  overflow: hidden;
  border-radius: 30px;
  z-index: 1;
}

.slide {
  height: 70vh;
  background-size: cover !important;
}

.slide::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(rgba(0, 0, 0, 0.9))
  );
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("") no-repeat center center / 16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
  background: url("") no-repeat center center / 16px;
}

.previousButton {
  left: 2%;
}

.previousButton:hover {
  left: 2%;
}

.nextButton {
  right: 2%;
}

.nextButton:hover {
  right: 2%;
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner button {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #ffffff;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slider-content section span {
  color: #ffffff;
}

.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.slider-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.slider-content section span strong {
  color: #ffffff;
  font-size: 14px;
  display: block;
}

@media (max-height: 500px) {
  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

/* navbar */

nav {
  font-family: "Encode Sans SC", sans-serif;
  height: 44px;
  background: rgb(51, 51, 51);
}

.menu {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
}

.menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  list-style: none;
}

.menu ul li,
.menu ul li a {
  color: rgb(199, 199, 199);
  line-height: 44px;
  text-decoration: none;
}

.menu ul li .fa.fa-apple {
  font-size: 20px;
}

.menu ul li a.menu-item {
  transform: scale(1);
  transition: 0.5s;
  display: block;
}

.menu ul li a.menu-item.hide-item {
  transform: scale(0);
}

.menu ul li:nth-child(2) a.menu-item.hide-item {
  transition-delay: 0.6s;
}

.menu ul li:nth-child(3) a.menu-item.hide-item {
  transition-delay: 0.5s;
}
.menu ul li:nth-child(4) a.menu-item.hide-item {
  transition-delay: 0.4s;
}
.menu ul li:nth-child(5) a.menu-item.hide-item {
  transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item.hide-item {
  transition-delay: 0.2s;
}
.menu ul li:nth-child(7) a.menu-item.hide-item {
  transition-delay: 0.1s;
}
.menu ul li:nth-child(8) a.menu-item.hide-item {
  transition-delay: 0s;
}

.menu ul li:nth-child(2) a.menu-item {
  transition-delay: 0s;
}

.menu ul li:nth-child(3) a.menu-item {
  transition-delay: 0.1s;
}
.menu ul li:nth-child(4) a.menu-item {
  transition-delay: 0.2s;
}
.menu ul li:nth-child(5) a.menu-item {
  transition-delay: 0.3s;
}
.menu ul li:nth-child(6) a.menu-item {
  transition-delay: 0.4s;
}
.menu ul li:nth-child(7) a.menu-item {
  transition-delay: 0.5s;
}
.menu ul li:nth-child(8) a.menu-item {
  transition-delay: 0.6s;
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(0);
  width: 750px;
  height: 44px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}


.search-form.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  transform: translateX(-50%);
}

.search-form input {
  width: 100%;
  height: 44px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
}
.search-form input::placeholder {
  text-shadow: none;
  color: #fff;
}

.search-form:before {
  content: "";
  position: absolute;
  top: 12px;
  left: -26px;
  font-size: 18px;
  color: #fff;
  font-family: fontAwesome;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  background: #000;
  color: #fff;
  line-height: 44px;
  font-size: 18px;
  text-align: right;
  width: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.close.active {
  opacity: 1;
  visibility: visible;
}

/* Card3D */
.TiltCard3D {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.TiltCard3D:hover .card3D .inner-card {
  transform: translateZ(60px);
}
/* ******** Swiper ******** */

.swiper-container {
padding-left: 5vw !important;
}

.swiper-slide {
  width: auto !important;
}

.swiper-pagination-bullet {
  padding: 7px;
  text-align: center ;
  line-height: 0px;
  font-size: 12px;
  color: rgb(1, 1, 1);
  opacity: 1;
  background: rgba(1, 1, 1, 0.149);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* ********************* */

.card3D {
  background-color: #fff;
  position: relative;
margin-top: 4vw;
margin-bottom: 9vw;
  height: 20vw;
  box-shadow: 0 70px 63px -60px #4948488d;
  border-radius: 15px;
}

.card3D img {

  height: 100%;
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card3D .inner-card {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s linear;
}
.shadow3d {
  background-position: bottom;
  background-size: cover;
  position: absolute;
  right: 1.5vw;
  top: 1.5vw;
  width: 100%;
  height: 100%;
  z-index: -100;
  filter: blur(55px);
}

.card3D h2 {
  position: absolute;
  top: 0.8vw;
  left: -0.7vw;
  font-size: 1vw;
}

.inner-card .card3D-title {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0.5vw;
  left: 0.5vw;
  font-size: 0.6vw;
  font-weight: 600;
  width: 8.5vw;
  height: 1.2vw;
  overflow: hidden;
}

.inner-card .card3D-icon {
  font-size: 1.3vw;
  position: absolute;
  right: 0.7vw;
  bottom: 2.5%;
  z-index: 100;
}

.inner-card .card3D-likeCount {
  font-size: 0.6vw;
  position: absolute;
  right: 2.5vw;
  bottom: 3%;
}

.cardRow {
  margin: 40px 0 40px 0px;
}

.card3D {
  transition: all 0.2s ease-in-out;
}
.inner-card a {
  display: flex;
  width: 100%;
  height: 100%;
}

/* vertical card 3D */
.watch-title{
margin-top: 100px;
}



.TiltCard3D:hover .card3D-vertical .inner-card {
  transform: translateZ(60px);
}

.card3D-vertical {
  background-color: #fff;
  position: relative;
  box-shadow: 0 70px 63px -60px #4948488d;
  border-radius: 15px;
}

.card3D-vertical img {
  width: 100%;
  padding-top: 3vw;
  padding-bottom: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card3D-vertical .inner-card {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s linear;
}
.shadow3d {
  background-position: bottom;
  background-size: cover;
  position: absolute;
  right: .1vw;
  top: .1vw;
  width: 100%;
  height: 100%;
  z-index: -10;
  filter: blur(55px);
}

.card3D-vertical h2 {
  position: absolute;
  top: 0.8vw;
  left: -0.7vw;
  font-size: 1vw;
}

.inner-card .card3D-title {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0.5vw;
  left: 0.5vw;
  font-size: 0.6vw;
  font-weight: 600;
  width: 8.5vw;
  height: 1.2vw;
  overflow: hidden;
}

.inner-card .card3D-icon {
  font-size: 1.3vw;
  position: absolute;
  right: 0.7vw;
  bottom: 2.5%;
  z-index: 100;
}

.inner-card .card3D-likeCount {
  font-size: 0.6vw;
  position: absolute;
  right: 2.5vw;
  bottom: 3%;
}

.cardRow {
  margin: 40px 0 40px 0px;
}

.card3D-vertical {
  transition: all 0.2s ease-in-out;
}
.inner-card a {
  display: flex;
  width: 100%;
  height: 100%;
}

/* ************** */

.titleCards-main{

  background-color: blueviolet;
}

/* watch */

.card3D-icon-watch{
  position: absolute;
  right: 5%;
  bottom: 2.5%;
  background-color: #e4e4e4;
  padding: 0 10px 0 10px; 
  border-radius: 1vw;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.201);
  cursor: pointer;
}

.card3D-likeCount-watch{
position: absolute;
right: 29%;
font-size: 12px;
bottom: 2.5%;
}














